* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.content {
    background-color: rgba(0, 128, 0, 0.705);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2);
    align-items: center;
    justify-content: center;
    grid-gap: 6rem;
}

.login-form {
    width: 420px;
    background: white;
    border: 2px solid green;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(9, 9, 9);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;
    justify-content: center;
}

.login-form h1 {
    font-size: 80px;
    color: green;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-form form input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background: rgb(220, 227, 234);
    color: black;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.btn {
    padding: 10px;
    background: green;
    color: aliceblue;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
}
